@using SKY_INTRA_MVCV2.Models

@model TermoformViewModel
<style>
    * {
        padding: 0;
        margin: 0;
    }

    /*	general	*/

    section {
    }

    .custom-button {
        font-size: 18px;
        border: 2px solid #3F6184;
        padding: 5px 10px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 30px;
        background-color: #3F6184;
    }

        .custom-button:hover,
        .custom-button:focus,
        .custom-button.active {
            color: #3F6184;
            background-color: #ffffff;
            outline: none;
        }

    /*	gallery */

    .gallery-title {
        font-size: 36px;
        color: #3F6184;
        text-align: center;
        font-weight: 500;
        margin-bottom: 70px;
    }

    .filter-button {
        font-size: 18px;
        border: 2px solid #3F6184;
        padding: 5px 10px;
        text-align: center;
        color: #3F6184;
        margin-bottom: 30px;
        background: transparent;
    }

        .filter-button:hover,
        .filter-button:focus,
        .filter-button.active {
            color: #ffffff;
            background-color: #3F6184;
            outline: none;
        }

    .gallery_product {
        margin: 0px;
        padding: 0;
        position: relative;
    }

        .gallery_product .img-info {
            position: absolute;
            background: rgba(0,0,0,0.5);
            left: 0;
            right: 0;
            bottom: 0;
            padding: 20px;
            overflow: hidden;
            color: #fff;
            top: 0;
            display: none;
            -webkit-transition: 2s;
            transition: 2s;
        }

        .gallery_product:hover .img-info {
            display: block;
            -webkit-transition: 2s;
            transition: 2s;
        }

    /*	end gallery */

    .slider-nav h1 {
        display: inline-block;
        width: 100%;
        height: 80px;
    }

    .slider-nav .slick-slide {
        height: 80px;
        color: #fff;
        background: green;
        cursor: pointer;
        text-align: center;
        margin: 0 10px;
    }
</style>

@section scripts {
    <script>
    /*	gallery */
    $(document).ready(function () {

        $(".filter-button").click(function () {
            var value = $(this).attr('data-filter');

            if (value == "all") {
                $('.filter').show('1000');
            }
            else {
                $(".filter").not('.' + value).hide('3000');
                $('.filter').filter('.' + value).show('3000');

            }

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");
        });
    });
    /*	end gallery */

    /*Add information*/
    $(document).ready(function () {
        $(".btn.btn-default.Insert").click(function () {
            var getId = $(this).attr("name");
            $.ajax({
                /**/
                url: "@Url.Action("InsertRelation", "Kantine")",
    /**/
    type: "post",
    data: { id: getId },
    success: function (data) {
        location.reload();
    },
    error: function () {
        alert("Fails");
    }

});
});
});

/*Delete information*/
$(document).ready(function () {
$(".btn.btn-danger.Delete").click(function () {
var getId = $(this).attr("name");
$.ajax({
    /**/
    url: "@Url.Action("DeleteRelation", "Kantine")",
    /**/
    type: "post",
    data: { id: getId },
    success: function (data) {
        location.reload();
    },
    error: function () {
        alert("Fails");
    }

});
});
});

    </script>
}

<head>
</head>

<body>
    <section class="content-header" style="margin-bottom:50px;">
        <h1 style="display:inline-block;">
            Termoform skærm
        </h1>
        <div style="float:right;display:inline-block; margin-right:5px;">
            <button style="min-width:10vw; " class="custom-button">Se termoform skærm</button>
        </div>
        <div style="float:right;display:inline-block; margin-right:5px;">
            <button style="width:10vw;" class="custom-button" onclick="location.href='@Url.Action("UpdateInfoscreen", "Termoform")'">Opdater</button>
        </div>

    </section>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel-primary">
                <div class="panel-heading" style="background-color:#42678A;">
                    <h3 class="panel-title">
                        Informations beskeder
                    </h3>
                </div>
                <div class="panel panel-body" style="min-height:200px;">

                    <table class="table table-hover table-responsive table-striped" style="background-color:white">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Overskift</th>
                                <th>Vis på skærm</th>
                            </tr>

                        </thead>

                        <tbody>
                            @foreach (var item in Model.Informations)
                            {
                                <tr @*onclick="location.href = '@(Url.Action(" InformationDetails", "Information" , new { id=item.Id }))'"*@>
                                    <td>@item.Title</td>
                                    <td>@item.Header</td>
                                    <td> <button class="btn btn-default Insert" style="border-color:#42678A;" name="@item.Id"><i class="fa fa-square-o fa-lg" style="color:transparent" aria-hidden="true"></i></button></td>

                                </tr>
                            }
                        </tbody>

                        <tbody>
                            @foreach (var item in Model.ChosenInformations)
                            {
                                <tr @*onclick="location.href = '@(Url.Action(" InformationDetails", "Information" , new { id=item.Id }))'"*@>
                                    <td>@item.Title</td>
                                    <td>@item.Header</td>
                                    <td><button class="btn btn-danger Delete" style="background-color:#42678A; border-color:#42678A" name="@item.Id"><i class="fa fa-check fa-lg" style="color:#ffffff" aria-hidden="true"></i></button></td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel-primary">
                <div class="panel-heading" style="background-color:#42678A;">
                    <h3 class="panel-title">
                        Nyheder
                    </h3>
                </div>
                <div class="panel panel-body" style="min-height:200px;">

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-primary">
                <div class="panel-heading" style="background-color:#42678A;">
                    <h3 class="panel-title">
                        PDF filer
                    </h3>
                </div>
                <div class="panel panel-body" style="min-height:200px;">

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <div class="panel-primary">
                <div class="panel-heading" style="background-color:#42678A;">
                    <h3 class="panel-title">
                        Live produktionstal termoform
                    </h3>
                </div>
                <div class="panel panel-body" style="min-height:50px;">
                    <table class="table table-hover table-responsive table-striped" style="background-color:white">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Sti</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.TermoFileImage.Title</td>
                                <td>@Model.TermoFileImage.Path</td>
                                <th>
                                    <!-- Button trigger modal -->

                                    <a href="#" data-toggle="modal" data-target="#ekstruderingModal">
                                        <i class="fa fa-pencil-square-o fa-lg"></i><span style="margin-left:10px; color:#3F6184">Redigere</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>

                                    <!-- Modal -->
                                    <div class="modal fade" id="ekstruderingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    @*<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>*@
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                @using (Html.BeginRouteForm("Default", new { controller = "Kantine", action = "EditSmallFileImage" }))
                                                {
                                                    <div class="modal-body">

                                                        @Html.AntiForgeryToken()
                                                        <div class="form-horizontal">
                                                            @Html.HiddenFor(model => model.Infoscreen.Id)
                                                            @Html.HiddenFor(model => model.Infoscreen.Name)
                                                            @Html.HiddenFor(model => model.Infoscreen.Images)
                                                            @Html.HiddenFor(model => model.Infoscreen.Videos)
                                                            @Html.HiddenFor(model => model.Infoscreen.EkstruderingFileImageId)

                                                            <div class="form-group">
                                                                <h3>Termoform produktionstal</h3>
                                                                <div class="col-md-10">
                                                                    <select class="form-control" name="InfoScreen.TermoformFileImageId">
                                                                        @foreach (var item in Model.TermoFileImages)
                                                                        {
                                                                            <option value="@item.Id" @(@Model.Infoscreen.TermoformFileImage.Id == @item.Id ? "selected" : "" )>@item.Title</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>



                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Luk</button>
                                                            <button type="submit" class="btn btn-primary">Gem</button>
                                                            @*<div class="form-group ">
                                                                    <div class="col-md-offset-2 col-md-10">
                                                                        <input type="submit" value="Gem" class="btn btn btn-primary" />
                                                                    </div>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</body>
